{
  "dryRun": true,
  "plugins": [
    ["@semantic-release/npm", {
      "npmPublish": false,
      "tarballDir": "dist",
    }],
    ["@semantic-release/github", {
      "assets": [
        {"path": "dist/test.txt", "label": "test distribution"}
      ]
    }],
  ]
}
